nav{
        display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: fixed;
    top: 0;
    width: 100%;
    background: #4f46e452;
}
nav .left{
    display: flex;gap: .5rem;
}
.link {
    text-decoration: none;
}
.highlight{
    font-weight: bolder;
    color: blue;
}
.dashboard{
    flex-direction: column;
}